# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS and editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Local environment files
.env
.env.*

# Generated outputs
data/processed/*
!data/processed/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
assets/screenshots/*
!assets/screenshots/.gitkeep
